.app {
  position: absolute;
  margin:auto 10px;
  width:auto;
  height: 2000px;
  background-color: lightgray;
}

.App-logo {
  
  height: 7vmin;
  width: 70vmin;

  /* padding-right: 850px; */
  pointer-events: none;
 
} 

a{
color: black;
text-shadow: -2px 2px 2px forestgreen;
}

/* a:hover{} */






/* ################################################## */






/* This is the CSS used for : Logo on Login page */

.logo-container{

  position:absolute;
  top:5%;
  left:28%;
  /* margin: 50px; */
}


/* This is the CSS used for : Logo on Login page */






/* ################################################## */






/* This is the CSS used for : Login page */

body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: black;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  background-color: none;
}

.loginForm {
 position: absolute;
 top:35%;
 right:43%;
 box-sizing: border-box;
 text-align: center; 
 
  /* width: 100%;
 max-width: 400px;
 padding-top: 70%;
 padding-left: 15px;
 padding-right: 20px;*/

}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px forestgreen;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
 text-align: center;
}

.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px forestgreen;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}
/* This is the CSS used for : Login page */






/* ################################################## */






/* Navbar */

.navbar {

  position: absolute;
  color: black;
  top: 10%;
  left: 21%;
  height: 15%;
  width: 100%;
  text-align: center;
  background-color: none;
  z-index: 10;
  border-bottom: none;

}

.home-navbar{
  position: absolute;
  top:-20%;
  left:-20%;
  width: 100%;
}

.learnNavbar{
  position:absolute;
  top:14%;
  left:0.5%;
  width: 100%;
}

.stories-navbar{
  position: absolute;
  top:-27.5%;
  left:-29.5%;
  width: 100%;
}

.navLink {

  /* display:inline-block; */
  float:left;
  padding:5px;
  width: 30vmin;

}

/* Navbar */






/* ################################################## */






/* Hompage.js */

.homepage {
  position:absolute;
  /* border:3px solid black; */
  padding: 1%;
  top:26%;
  left: 21%;
  width: 675px;
  height: 360px;
  /* line-height: 200%;
  font-size: 2vmin;
  font-weight: bold; */
  border-radius: 10% / 50%; 
  border-width: thick;
  /* 
  margin-right: 20vmin;
  border-width: thick;
  text-align: center; */

}

.welcome{
  padding-left: 33vmin;
}

.rules{
  padding-left: 6vmin;
  line-height: 175%;
  font-size: 56%;
  font-weight: bold;
}

.score-gif{
  position: absolute;
  width: 35%;
  height: 35%;
  top:40%;
  left: -38%;
  
}

.score-gif-two{
  position: absolute;
  width: 35%;
  height: 35%;
  top:40%;
  right:-43%;
  
}

/* Hompage.js */






/* ################################################## */







/* Learn.js */

.learn{
  
  position: absolute;
  top:35%;
  width: 8%;
  height: 15%;
  padding: 10%;
  right:70%;
  /* margin-right: 25%;
  margin-left: 5vmin; */
  line-height: 100%;
  border:3px solid black;
  border-width: thick;
  border-radius: 10% / 50%;
  transition: 2s;



}

.learn-instruct{
  position: absolute;
  top:37%;
  left:38%;
  width: 40%;
  font-size: 70%;
  font-weight: bold;
}

.learn:hover {
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learn-nav{
  position: absolute;
  line-height:250%;
  top:2%;
  right: 90%;
}

.learnlink1 {
  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  color: black;
  /* border: 1px solid black;
  border-radius: 10%; */
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink1:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink2 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 30%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink2:hover {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink3 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink3:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink4 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 30%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink4:hover {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink5 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink5:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}



.lesson-title{
 
  padding-top: 20%;
  padding-left: 16%;
  padding-bottom: 0%;
}

.lesson{
  position: absolute;
  width: 500px;
  height: 125px;
  top: 40%;
  left: 3%;
  font-size: 56%;
  font-weight: bold;
  padding: 0%;
}

.prompt-section{
  position:relative;
  top: -60px;
  right: -40%;
  padding: 0%;
  padding-bottom: 2%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid transparent;
}
.age-of-credit-prompt{

  
  /* border:3px solid black; */
  /* padding: 1%; */
  /* top:30%; */
  /* left: 21%; */
  
  /* line-height: 300%; */
 /* border-radius: 10% / 50%;  */
  /* border-width: thick; */

  width: 500px;
  height: 125px;
  font-size: 2vmin;
  font-weight: normal;
}



/* Learn.js */






/* ################################################## */






/* CreditScore.js */

.score-card{
  position: absolute;
  top: -50%;
  right:0%;
  width: 250px;
  line-height: 140%;
}

.score-display{
  position: absolute;
  top: 7%;
  right: -30%;
  color: forestgreen;

}

/* CreditScore.js */






/* ################################################## */






/* Choice.js */

/* .choice-cards {
  color: black;
  background-color: #61dafb;
  padding: 10px;
  margin: 20px;
  float: left;
} */

/* Choice.js */






/* ################################################## */





/* Stories.js */
.stories-instruct{
  position: absolute;
  top:30%;
  left:26%;
}
/* Stories.js */





/* ################################################## */
/* zzzzz */

/* .btn-btn-outline-primary{

  width: 50mvin;

}

.input-group-prepend{

width: 50vmin;

} */























/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333535;
} */

/* .App-link {
  color:green;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */