.app {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

.App-logo {
  height: 7vmin;
  width: 70vmin;
  /* padding-right: 850px; */
  pointer-events: none;
 
} 

/* ################################################## */

/* This is the CSS used for : Logo on Login page */

.logo-container{

  margin: 100px;
}

.App-logo {
  margin-top: 100px;
  top: 200px;
  height: 7vmin;
  width: 70vmin;
 
  pointer-events: none;
 
} 
/* This is the CSS used for : Logo on Login page */

/* ################################################## */

/* This is the CSS used for : Login page */
body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
 text-align: center;
}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px forestgreen;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
 text-align: center;
}

.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px forestgreen;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}
/* This is the CSS used for : Login page */

/* ################################################## */

/* Navbar */

.navbar {

  position: fixed;
  color: black;
  top: 0;
  left: 25vmin;
  text-align: center;
  background-color: none;
  width: 100vw;
  z-index: 10;
  border-bottom: none;

}

.navLink {

  /* display:inline-block; */
  float:left;
  padding:5px;
  width: 30vmin;
  text-shadow: -2px 2px 2px forestgreen;

}

/* Navbar */

/* ################################################## */

/* Hompage.js */

.homepage {
  border:3px solid black;
  padding: 1%;
  width: 675px;
  height: 275px;
  margin-bottom: 5%;
  font-size: 2vmin;
  border-radius: 10% / 50%; 
  border-width: thick;
  /* 
  margin-right: 20vmin;
  border-width: thick;
  text-align: center; */

}

.welcome{
  padding-left: 33vmin;
}

.rules{
  padding-left: 6vmin;
}

/* Hompage.js */

/* ################################################## */


/* Learn.js */

.learn{
  
  width: 675px;
  height: 275px;
  padding: 10%;
  margin-right: 20vmin;
  border:3px solid black;
  border-width: thick;
  border-radius: 10% / 50%;
  text-align: center;
  transition: 2s;

}

.learn:hover {
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learnlink1 {

  width: 50vmin;
  margin-left: 10vmin;
  color: black;
  border: 1px solid black;
  border-radius: 10%;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink1:hover {
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learnlink2 {

  width: 50vmin;
  margin-left: 30vmin;
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink2:hover {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learnlink3 {

  width: 50vmin;
  margin-left: 10vmin;
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink3:hover {
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learnlink4 {

  width: 50vmin;
  margin-left: 30vmin;
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink4:hover {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learnlink5 {

  width: 50vmin;
  margin-left: 10vmin;
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink5:hover {
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  box-shadow: -1px -1px 10px 10px forestgreen;
}

/* Learn.js */

/* ################################################## */

























/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333535;
} */

/* .App-link {
  color:green;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */