.app {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

.App-logo {
  
  height: 7vmin;
  width: 70vmin;
  /* padding-right: 850px; */
  pointer-events: none;
 
} 

a{
color: black;
text-shadow: -2px 2px 2px forestgreen;
}

/* a:hover{} */

/* ################################################## */

/* This is the CSS used for : Logo on Login page */

.logo-container{

  margin: 50px;
}

/* .App-logo {
  margin-top: 50px;
  top: 200px;
 
  pointer-events: none;
 
}  */
/* This is the CSS used for : Logo on Login page */

/* ################################################## */

/* This is the CSS used for : Login page */
body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
 text-align: center;
}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px forestgreen;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
 text-align: center;
}

.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px forestgreen;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}
/* This is the CSS used for : Login page */

/* ################################################## */

/* Navbar */

.navbar {

  position: fixed;
  color: black;
  top: 0;
  left: 20%;
  text-align: center;
  background-color: none;
  z-index: 10;
  border-bottom: none;

}

.navLink {

  /* display:inline-block; */
  float:left;
  padding:5px;
  width: 30vmin;

}

/* Navbar */

/* ################################################## */

/* Hompage.js */

.homepage {
  /* position:absolute; */
  border:3px solid black;
  padding: 1%;
  width: 675px;
  height: 360px;
  margin-bottom: 5%;
  font-size: 2vmin;
  font-weight: bold;
  border-radius: 10% / 50%; 
  border-width: thick;
  /* 
  margin-right: 20vmin;
  border-width: thick;
  text-align: center; */

}

.welcome{
  padding-left: 33vmin;
}

.rules{
  padding-left: 6vmin;
}

.score-gif{
  position: absolute;
  width: 20%;
  height: 20%;
  top:51%;
  left:2%;
  
}

/* Hompage.js */

/* ################################################## */


/* Learn.js */

.learn{
  
  position: absolute;
  top:35%;
  width: 8%;
  height: 15%;
  padding: 10%;
  right:70%;
  /* margin-right: 25%;
  margin-left: 5vmin; */
  line-height: 100%;
  border:3px solid black;
  border-width: thick;
  border-radius: 10% / 50%;
  transition: 2s;

}

.learn:hover {
  box-shadow: -1px -1px 10px 10px forestgreen;
}

.learn-nav{
  position: absolute;
  line-height:250%;
  top:2%;
  right: 90%;
}

.learnlink1 {
  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  color: black;
  /* border: 1px solid black;
  border-radius: 10%; */
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink1:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink2 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 30%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink2:hover {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink3 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink3:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink4 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 30%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink4:hover {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

.learnlink5 {

  position:absolute;
  width: 40vmin;
  height: 5vmin;
  /* margin-left: 1%; */
  /* border: 1px solid black;
  border-radius: 10%; */
  color: black;
  text-align: center;
  text-shadow: -2px 2px 2px forestgreen;
  /* transition: 0.5s; */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.learnlink5:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  /* box-shadow: -1px -1px 10px 10px forestgreen; */
}

/* Learn.js */

/* ################################################## */

/* CreditScore.js */

.score-card{
  position: absolute;
  top: .1%;
  left: 145vmin;
  width: 250px;
  line-height: 140%;
}

.score-display{
  position: absolute;
  top: 0.5%;
  left: 20vmin;

}

/* .btn-btn-outline-primary{

  width: 50mvin;

}

.input-group-prepend{

width: 50vmin;

} */























/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333535;
} */

/* .App-link {
  color:green;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */